---
import Base from "../layouts/Base.astro";
---

<style>
  p span {
    font-weight: 400;
    margin-bottom: 1em;
  }

  h2 {
    margin-top: 2.2em;
    margin-bottom: 0.6em;
  }
</style>

<Base>
  <div id="about" class="">
    <div class="my-3 rounded-container">
      <div class="rounded-container-overlap">
        <h2 style="margin-top: 0.5em">Missione</h2>

        <p>
          Il progetto Crystal Bit ha l'obiettivo di aiutare le persone ad
          avvicinarsi allo sviluppo di videogiochi fornendo <span
            >strumenti</span
          >,
          <span>risorse</span> ed una <span>community</span> costruttiva.
        </p>

        <!-- <h2>PRINCIPI</h2>
          <p>
            Condivisione, collaborazione ed inclusività. <br /> <br />
            Questi sono i pilastri del progetto Crystal Bit.
          </p> -->

        <h2 id="cta">CONTATTI</h2>
        <p>Per discutere con l'intera community:</p><ul>
          <li>
            Entra nel server <a href="https://discord.gg/SA6S2Db">Discord</a>
          </li>
          <li>
            Segui il <a href="https://t.me/crystalbit">canale Telegram</a> per aggiornamenti
            e novità
          </li>
        </ul>

        <p>Per contattarmi personalmente scrivi a: vitrumbit(at)gmail.com</p>

        <!-- SALVA COME BLOGPOST -->
        <!-- <h2 id="come-è-nato-il-progetto-crystal-bit">Come è nato il progetto Crystal Bit?</h2>
          <p>
            Dal 2016 mi sono interessato allo sviluppo di videogiochi con <em>Godot Engine</em>, e nel 2018
            ho cominciato a studiarlo in maniera più approfondita.
          </p>
          <p>
            Ho sempre trovato più stimolante studiare assieme ad altre persone ma, dopo aver terminato 
            l'università, per me è diventato più difficile incontrare persone con cui confrontarmi.
          </p>
          <p>
            Così ho deciso di creare video da condividere online: probabilmente il modo più facile 
            per raggiungere persone interessate allo sviluppo di videogiochi.
          </p>
          <p>
            Nel Giugno 2018 ho rilasciato  
            <a href="https://youtu.be/AY1zuH2mHQ0">il primo video su come implementare le basi di un gioco top down 2D</a>.
            <br>
            Sono andato avanti così per 6 mesi creando circa 15 video: è proprio in questo momento, alla fine della
            mia prima serie di tutorial, che ho deciso di continuare il progetto.
          </p>
          <p>
            Se vuoi saperne di più, proprio in quel momento ho raccolto i miei pensieri a caldo in questo video
            retrospettiva:
          </p>
          <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
            <iframe src="//www.youtube.com/embed/aHHfA5iZ8Yo"
              style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allowfullscreen
              title="YouTube Video"></iframe>
          </div> -->
        <!--  -->

        <!-- <h2 id="investi-denaro-sul-progetto">Monetizzi o investi denaro sul progetto?</h2>
          <p>
            Non ho mai investito soldi su pubblicità o sponsorizzazioni.
          </p>
          <p>
            La scoperta di questi contenuti avviene semplicemente tramite passaparola o ricerca volontaria.
          </p> -->

        <!-- <h2 id="cosa-intendi-con-condivisione">Cosa intendi con &ldquo;Condivisione&rdquo;?</h2>
          <p>Da sostenitore del software libero ed open source, ho deciso di condividere apertamente quello che
            creo: ogni gioco, software, script che vedrete tramite questo progetto è sempre accessibile gratuitamente.</p>
          <p>
            Cominciando questo progetto, mi sono reso conto che <strong> condividere le conoscenze con le altre
            persone mi fa stare bene</strong>.
          </p> -->

        <!-- <h2>Cosa fai praticamente?</h2>
          <p>
            Cerco di studiare argomenti e semplificarli il più possibile.
          </p>
          <p>
            Alla fine di questo processo di studio, creo dei tutorial e li pubblico online.
          </p>
          <p>
            La fase più importante è poi quella dell'ascolto del feedback delle persone: 
            questo mi consente di capire se il lavoro che ho svolto è valido e mi fornisce 
            indicazioni su cosa posso migliorare.
          </p> 
          <p>PS: questa è in realtà una tecnica conosciuta anche come la <em>tecnica Feynman</em>.</p>
          -->
      </div>
    </div>
  </div>
</Base>
