---
import Icon from "./Icon/Icon.astro";
---

<hr />

<footer class="mastfoot mt-auto">
  <div class="row" style="margin: auto;">
    <div class="col-sm-8">
      <p>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"
        ></a>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
          <img
            alt="Creative Commons License"
            style="border-width:0"
            src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png"
          />
        </a>
        <span style="margin-left: 6px;"> Davide Cristini, 2022.</span>
      </p>
    </div>
    <div class="col-sm-4 info">
      <a href="mailto:vitrumbit@gmail.com">
        <Icon
          iconId="envelope-regular"
          css={{
            filter: "brightness(50%)",
          }}
        />
      </a>
    </div>
  </div>
</footer>
