---
import { site } from "../../config";

const { url } = Astro;
const { pathname } = url;
---

<style>
  a.wip {
    opacity: 0.3;
    user-select: none;
  }

  a.wip span:hover {
    cursor: not-allowed;
  }
</style>

<header class="masthead">
  <div class="inner">
    <h3 class="masthead-brand">
      <a id="main-logo-link" href="/">
        <img
          id="logo"
          src="img/logo-transparent.png"
          class="img-fluid"
          alt=""
        />
        <span class="anim-left" style="font-size: 0.8em">{site.title}</span>
      </a>
    </h3>

    <nav class="nav nav-masthead justify-content-center">
      {
        site.menu.map((el) => {
          const section = pathname.split("/")[1];
          const isActive = section === el.sectionSlug;
          const isWip = ["posts", "guide"].includes(el.sectionSlug);
          const href = isWip ? "#" : el.sectionSlug;
          return (
            <a
              href={href}
              class:list={[
                "nav-link",
                "anim-left",
                { active: isActive, wip: isWip },
              ]}
            >
              <span>{el.name.toUpperCase()}</span>
            </a>
          );
        })
      }
    </nav>
  </div>
</header>
