---
import { site } from "../../config";
import { Image } from "astro:assets";

const { url } = Astro;
const { pathname } = url;
---

<header class="masthead">
  <div class="inner">
    <h3 class="masthead-brand">
      <a id="main-logo-link" href="/">
        <Image
          class="img-fluid"
          id="logo"
          src={import("../../public/img/logo-transparent.png")}
          width={50}
          height={50}
          alt="Crystal Bit Logo"
        />
        <span class="anim-left" style="font-size: 0.8em">{site.title}</span>
      </a>
    </h3>

    <nav class="nav nav-masthead justify-content-center">
      {
        site.menu.map((el) => {
          const section = pathname.split("/")[1];
          const isActive = section === el.sectionSlug;
          const href = `/${el.sectionSlug}`;
          return (
            <a href={href} class:list={["nav-link", "anim-left", { active: isActive }]}>
              <span>{el.name.toUpperCase()}</span>
            </a>
          );
        })
      }
    </nav>
  </div>
</header>
