---
---

<h5>SUPPORTAMI</h5>
<p>
  Questo sito web è privo di pubblicità ed i contenuti vengono rilasciati con
  licenze libere come CC-BY-SA e GPL.
</p>

<p>
  Se i contenuti ti piacciono e ti sono stati utili, considera di supportare il
  progetto.
</p>

<p>
  Visita <a href="/supporter">la pagina supporter</a>.
</p>
